.cards{
    margin: 0 auto;
    max-width: 880px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    justify-content: center;
}

@media screen and (min-width: 560px){
    .cards{
        gap: 20px 17px;
    }
}

