.page{
    min-width: 320px;
    font-family: 'Inter', 'Helvetica', sans-serif;
    margin: 0 auto;
    background-color: black;
    color: white;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}