.popup__input{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 0;
    border-right: 0;
    border-left: 0;
    width: 238px;
    height: 27px;
    display: block;
    padding: 0;
    padding-bottom: 9px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 30px;
}

.popup__input:last-child{
    margin-bottom: 46px;
}

@media screen and (min-width: 768px){
    .popup__input{
        min-width: 358px;
    }

    .popup__input:last-child{   
        margin-bottom: 48px;
    }
}