.profile{
    max-width: calc(100vw - 38px);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 42px;
    padding-bottom: 36px;
    align-items: center;
}

@media screen and (min-width: 560px){
    .profile{
        flex-direction: row;
        justify-content: space-around;
    }
}

@media screen and (min-width: 768px){
    .profile{
        padding-right: 19px;
        padding-left: 19px;
        max-width: 880px;
        padding-bottom: 39px;
        padding-top: 34px;
    }
}

