.header{
    min-height: auto;
    border-bottom: 1px solid rgba(84,84,84,0.7);
    margin: 28px auto 0 auto;
    max-width: 880px;
}

@media screen and (min-width: 560px){
    .header{
        margin-top: 45px;
}
}