.card__describe {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  justify-content: space-between;
  padding: 25px 15px 25px 21px;
  margin: 0;
  align-items: center;
  border-radius: 0 0 10px 10px;
  color: black;
}